/* CSS for Components - mostly for Ant Design overrides */

/* * {
  border: 1px red solid;
} */

/* ======== App.js ========== */

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  text-decoration: none !important;
}

.ant-btn {
  font-family: futura !important;
}

.ant-btn:hover {
  color: white !important;
  background-color: rgba(122, 77, 78, 0.4) !important;
  /* border: 5px solid rgba(122, 77, 78, 0.01) !important; */
  box-shadow: 0px 0px 85px 0px rgba(1, 1, 1, 0.1);
}

.ant-btn-primary:hover {
  background-color: #c74145 !important;
  border-color: #c74145 !important;
}

/* = = = = = = HeaderBar = = = = = = = */

.ant-menu-item {
  padding: 0 10px;
}

.ant-layout-header {
  height: 100%;
  padding: 0 40px !important;
}

.ant-menu-horizontal > .ant-menu-item {
  padding: 0 30px;
  display: inline;
  text-align: center;
}

.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0px !important;
  text-align: center;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #6d5151 !important;
}

.NavBar {
  margin: 25px 0;
}

.ant-menu-dark.ant-menu-horizontal {
  border-bottom: none !important;
}

.ant-layout-header {
  border-bottom: 1px solid #694345;
}

.ant-layout-sider-trigger {
  z-index: 0 !important;
}

/* = = = = = = = = = = = = = UserAccounts / = = = = = = = = = = = = = */

.ant-checkbox-wrapper {
  /* color: rgba(108, 76, 76, 0.87) !important; */
}

a.ant-btn-sm {
  line-height: 23px !important;
}

@media (max-width: 575px) {
  .ant-tooltip {
    display: none !important;
  }

  .ant-collapse-header {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .ant-collapse-header {
    font-size: 10px;
  }
}

/* = = = = = = = = = = = = = Preferences  = = = = = = = == = = = = = */
.ant-collapse,
.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border: none !important;
  border-radius: 0 !important;
}

.ant-collapse-header {
  padding: 10px !important;
  background-color: rgba(109, 81, 81, 0.9) !important;
  text-align: center;
  color: rgba(255, 255, 255, 0.7) !important;
  text-align: center;
  -webkit-letter-spacing: 0.2em;
  -moz-letter-spacing: 0.2em;
  -ms-letter-spacing: 0.2em;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.25), 1px 1px 1px rgba(1, 1, 1, 0.1);
}

.ant-collapse-item {
  border: none !important;
  border-radius: 0 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header:hover {
  color: #4f778f;
}

/* center Letters in circular Button */

.ant-btn-sm {
  padding: 0 6px !important;
}

/* Shrink Hover CSS Animation Effect */

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

/* END Shrink Hover CSS Animation Effect */

/* = = = = = = = = Prefs Menu Bar  = = = = = = = = = */

.anticon {
  margin-right: 0px !important;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #6c2328 !important;
}

.ant-tabs-ink-bar {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: rgba(108, 35, 40, 0.5) !important;
}

.ant-tabs-nav-wrap {
  background-color: rgba(109, 81, 81, 0.5);
}

.ant-tabs-bar {
  border-bottom: 1px solid rgba(98, 71, 71, 0.02) !important;
  margin-bottom: 10px !important;
}

.ant-tabs-nav-container {
  font-size: 18px !important;
}

.ant-message-notice-content {
  background: rgba(1, 1, 1, 0.95) !important;
}

.ant-message {
  color: white !important;
  letter-spacing: 0.1em !important;
  font-weight: bold;
  line-height: 2.5 !important;
}

/* = = = = = = Unlink Modal = = = = = = */

.unlinkModal {
  text-align: center;
}

.unlinkModal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.unlinkModal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: center;
}

.ant-modal-footer {
  text-align: center !important;
}

.ant-modal-title {
  color: rgba(15, 6, 6, 1) !important;
}

/* = = = = = = PrefBox.js = = = = = = */

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-input:focus,
.ant-input:hover,
.ant-input:active,
.ant-select-selection:hover,
.ant-select-selection:focus {
  border-color: #812c31 !important;
  box-shadow: none !important;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: rgba(117, 82, 69, 0.4) !important;
  border-color: rgba(117, 82, 69, 0.2) !important;
}

/* = = = = = = Search.js = = = = = = */

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: rgba(110, 67, 69, 0.4) !important;
}

.ant-dropdown-menu {
  text-align: center !important;
  max-height: 53vh;
  overflow: scroll;
  margin: 75px 0 !important;
}

/* = = = = = = SearchResultsSingle.js = = = = = = */

.ant-card-meta-title {
  white-space: normal !important;
}

.atn-card-body {
  padding: 20px !important;
}

/* = = = = = = Ant Spinner = = = = = =   */

.ant-spin {
  color: #fff !important;
}

/* = = = = = = = Create = = = = = = = = */
.ant-select-selection--single {
  height: 21px !important;
  text-align: center;
  position: initial !important;
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  text-align: center !important;
  color: rgba(127, 103, 103, 0.3) !important;
  font-style: italic;
}

::placeholder {
  color: rgba(127, 103, 103, 0.3) !important;
  font-style: italic;
}

.ant-select-dropdown-menu-item:hover {
  background-color: rgba(127, 103, 103, 0.3) !important;
}

.ant-select-dropdown-menu-item-active {
  background-color: rgba(127, 103, 103, 0.1) !important ;
}

.ant-select-selection__rendered {
  line-height: 34px !important;
  position: inherit !important;
  display: inline-block !important;
}

.ant-select-selection-selected-value {
  padding-right: 0 !important;
}

.ListInputCheckBoxCol span:nth-child(2) {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.25), 1px 1px 1px rgba(1, 1, 1, 0.1);
  font-size: 11px;
  letter-spacing: 0.1em;
  vertical-align: middle;
}

.ant-btn-clicked:after {
  border: 0 solid rgba(127, 103, 103, 0.8) !important;
}

/* = = = = = = = = == = = = = = = = == = = = = = = = = =
= = = = = = = = = = Media Queries = = = = = = = = = = =
= = = = = = = = == = = = = = = = == = = = = = = = == = */

/*  HEADER COMPONENT MQs */

@media (max-width: 1127px) {
  .ant-menu-horizontal > .ant-menu-item {
    padding: 0 22px;
  }
}

@media (max-width: 700px) {
  .NavBar {
    margin: 18px 0;
  }
}

@media (max-width: 866px) {
  .ant-menu-horizontal > .ant-menu-item {
    padding: 0 15px;
  }
}

@media (max-width: 700px) {
  .ant-menu-horizontal > .ant-menu-item {
    padding: 0 14px;
  }
}

@media (max-width: 628px) {
  .ant-layout-header {
    display: none;
  }
  .ant-menu-inline .ant-menu-item {
    line-height: 8px;
    margin-top: 0px !important;
    /* disable the default, momentary display of ellipses */
    text-overflow: unset !important;
  }
  .ant-menu-vertical .ant-menu-item {
    margin-top: 0px !important;
  }
  .ant-layout-sider.ant-layout-sider-collapsed {
    flex: 0 0 50px !important;
    max-width: 50px !important;
    min-width: 50px !important;
    width: 50px !important;
  }
  .ant-layout-sider-collapsed > .ant-layout-sider-trigger {
    width: 50px !important;
  }
  .ant-layout-has-sider {
    float: left;
    /* height: 120vh; */
  }
  .ant-layout-sider {
    flex: 0 0 175px !important;
    max-width: 175px !important;
    min-width: 175px !important;
    width: 175px !important;
  }
  .ant-layout-sider-trigger {
    width: 175px !important;
  }
  .logo {
    margin-top: 35px;
  }
}

@media (min-width: 629px) {
  .ant-layout-has-sider {
    display: none;
  }
}

@media (max-width: 628px) {
  .ant-tabs-nav-container {
    line-height: 3.5 !important;
  }
}

@media (max-width: 480px) {
  .ant-tabs-bar {
    margin-bottom: 15px !important;
  }
}

/* END HEADER COMPONENT MQs */

/*  PREFS COMPONENT MQs */

@media (max-width: 866px) {
  .ant-tabs-nav-container {
    font-size: 16px !important;
  }
  /* checkbox label text */
  .ant-checkbox-wrapper {
    font-size: 12px !important;
  }
}

@media (max-width: 768px) {
  .ant-tabs-tab {
    padding: 12px 5px !important;
  }
}

@media (max-width: 650px) {
  .ant-tabs-top .ant-tabs-ink-bar-animated,
  .ant-tabs-bottom .ant-tabs-ink-bar-animated {
    transform: translate3d(207.828px, 0px, 0px);
  }
  /* checkbox label text */
  .ant-checkbox-wrapper {
    font-size: 10px !important;
  }
  .ant-tabs-nav-container {
    font-size: 15px !important;
  }
}

@media (max-width: 628px) {
  .ant-tabs-tab {
    padding: 0px 16px !important;
    margin-right: 0px !important;
  }
  .ant-checkbox-wrapper {
    font-size: 8px !important;
    letter-spacing: 0.15em;
  }
}

@media (max-width: 576px) {
  .ant-tabs-nav-container {
    font-size: 14px !important;
  }
  .ant-checkbox-wrapper {
    font-size: 9px !important;
  }
}

@media (max-width: 527px) {
  .ant-tabs-tab {
    padding: 0 13px !important;
  }
}

@media (max-width: 480px) {
  /* checkbox label text */

  .ant-tabs-tab {
    padding: 0 10px !important;
    margin-right: 0px !important;
  }
  .ant-tabs-nav-container {
    font-size: 13px !important;
  }
  .ant-dropdown-menu {
    margin: 65px 0 !important;
  }
}

@media (max-width: 430px) {
  .ant-tabs-tab {
    padding: 0 6px !important;
  }
}

@media (max-width: 405px) {
  .ant-checkbox-wrapper {
    font-size: 8px !important;
  }
  .ant-tabs-tab {
    padding: 0 !important;
    margin: 0px 6px !important;
  }
  .ant-tabs-nav-container {
    font-size: 12px !important;
  }
}

@media (max-width: 340px) {
  .ant-checkbox-wrapper {
    font-size: 8px !important;
  }
}

/*  END PREFS COMPONENT MQs */

/* CREATE COMPONENT MQs */

@media (min-width: 1128px) {
  .ant-select-selection--single {
    height: 43px !important;
  }

  .ant-select,
  .ant-input {
    font-size: 8px !important;
  }
}

@media (min-width: 992px) and (max-width: 1127px) {
  .ant-select-selection--single {
    height: 36px !important;
  }

  .ant-select,
  .ant-input {
    font-size: 16px !important;
  }
}

@media (min-width: 867px) and (max-width: 991px) {
  .ant-select-selection--single {
    height: 29px !important;
  }

  .ant-select,
  .ant-input {
    font-size: 13px !important;
  }

  .ant-select-selection__placeholder,
  .ant-select-search__field__placeholder {
    margin-top: -8px !important;
  }

  .ant-select-selection__rendered {
    line-height: 28px !important;
  }
}

@media (max-width: 866px) {
  .ant-select,
  .ant-input {
    font-size: 12px !important;
  }

  .ant-select-selection__rendered {
    line-height: 21px !important;
  }
}

@media (max-width: 866px) {
  .ant-checkbox-wrapper span:nth-child(2) {
    font-size: 10px;
    letter-spacing: 0.06em;
  }
}
